.about-container {
    padding: 20px;
    height: 60vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .profile-image {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 15px;
  }
  
  .about-container p {
    font-size: 18px;
    max-width: 600px;
    margin: auto;
  }
  
  .social-links {
    margin-top: 15px;
  }
  
  .social-links a {
    margin: 0 10px;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
  }
  
  .social-links a:hover {
    text-decoration: underline;
  }
  