.navbar {
    background-color: #333;
    padding: 30px 20px;
    border-radius: 5px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  .nav-links li a:hover {
    color: #f0a500;
  }
  